* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-image: url('/images/bg-body.png')
}

.container{
  width: 1180px;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  display: block;
  border-radius: 50%;
  width: 180px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-nav{
  overflow: hidden;
  width: 100%;
}

ul {
 margin: 0px;
 padding: 0px;
 list-style: none
}

.main-nav li {
  display: inline-block;
  background-color: #404040;
  width: 15.25%;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: white;
  font-weight: bold;
  margin-right: 1%;
}

.banner img {
  display: block;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.vip-products{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  border: solid 1px green;
  align-items: justify;
}

.product{
  float: left;
  display: inline-block;
  width: 33.33%;
  margin-bottom: 30px;
  border: solid 1px red;
}

.photo-container{
  position: relative;
}

.photo{
  width: 100%;
}

.special{
  position: absolute;
  right: 20px;
  top: 0px;
}

.zoom{
  position: absolute;
  width: 380px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  top: 75px;
}

.more{
  display: inline-block;
  width: 100px;
  padding: 10px;
  background-color: #404040;
  text-align: center;
  line-height: 10px;
  color: white;
  font-weight: bold;
}

.main-footer{
  width: 100%;
  background-color: darkred;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  height: 100px;
}

.main-footer ul {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.main-footer li {
  display: inline-block;
  list-style-type: none;
  border-right: white solid 2px;
  text-align: center;
  color: white;
  font-weight: bold;
}

.contacto{
  border: none;
}